@use "../base/variables" as *;

.blogbody {
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogtext {
    width: 100%;
}

.imgandtext {
    display: flex;
    gap: 2rem;

    // p {
    //     display: flex;
    //     flex-direction: column;
    // }
}


@media only screen and (max-width: $tabletBP) {
    
    .blogbody {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .blogtext {
        max-width: 90vw;
        font-size: 1rem;
    }

    .imgandtext {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}