<div class="articlesbox">
    <div class="modaltitlebar">
        <h2 id="articlebox-title">Articles</h2>
        <div id="articlebox-xbtn" class="xbtn"><i class="fa-solid fa-square-xmark"></i></div>
    </div>
    <div id="articledropdown">
        <% 
        for(let i=0; i< blog.length; i++){ 
            if(!blog[i].tags.includes("test")){%>
            <div class="blogcard"><a href="<%- blog[i].url %>">
                <h3><%- blog[i].title %></h3>
                <h4><%- blog[i].subtitle %></h4>
                <p><%- blog[i].date %></p>
                </a>
            </div>
            <%}
        }%>
        <br>
    </div>
</div>

