<div class="getintouch">
    <h3>Get in Touch:</h3>
    <ul class="getintouchul">
      <li><a href="https://www.linkedin.com/in/josephrdoherty" target="_blank"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
      <li><a href="https://github.com/JosephRDoherty/" target="_blank"><i class="fa-brands fa-square-github"></i>Github</a></li>
      <li><a href="mailto:joseph@doherty.software"><i class="fa-solid fa-square-envelope"></i>Joseph@Doherty.Software</a></li>
    </ul>
  </div>