<nav class="navbar" id="navbar">
    <a class="logo" href="/">Joe Doherty</a>
    <ul class="items">
      <li class="navitem">
        <a class="navlink" href="/">Home</a>
      </li>
      <li class="navitem">
        <a class="navlink" href="/about">About</a>
      </li>
      <li class="navitem">
        <a class="navlink" href="/resume">Resume</a>
      </li>
    </ul>
  </nav>