<div class="signature">
    <div>
        <h6>Joe Doherty</h6>
        <p>Joe Doherty is a Front-End Web Developer currently living in Grants Pass, Oregon, U.S.A.</p>
    </div>
    <img src="images/headshot.png" alt="A picture of Joe Doherty">

</div>