<div class="signature">
    <div>
        <h6>Joe Doherty</h6>
        <p>I'm a front-end web developer at Fire Mountain Gems. I'm helping to modernize our user experience and prepare for a platform migration of our ecommerce site</p>
    </div>
    <img src="images/headshot.png" alt="A picture of Joe Doherty">

</div>