/*
https://www.color-hex.com/color-palette/1019327
https://www.color-hex.com/color/2f377a
https://www.color-hex.com/color/4450b1
https://www.color-hex.com/color/ffe300
https://www.color-hex.com/color/001cff
https://www.color-hex.com/color/0014b3


*/

html, body {
    background-color: #0f1228;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:'Work Sans', sans-serif;;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Bungee Hairline', 'Courier New', Courier, monospace;
}

#header {
    background-image: linear-gradient(to right, #4450B1, #2f377a);
    margin: 0;
    padding: 0;
    margin-bottom: 5vh;
    z-index: 100;
    height: 8vh;
    width: 100%;
    box-shadow: 
        0px 0px 4px 1px #ffffff,
        0px 0px 8px 2px #0019e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    font-size: 2.5rem;
    margin-left: 10vw;
}

.cardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
}

.card {
    background-image: linear-gradient(to top, #4450B1 20%, #2f377a);
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
    box-shadow: 
        0px 0px 4px 1px #ffffff,
        0px 0px 8px 2px #0019e6;
    
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    
}

    /* .card:hover {
        box-shadow: inset 0px 0px 14px #ffffff;
        
    }

    .card:hover h1 {
        color:#000b67;
        box-shadow:
        0px 0px 1px 1px #ffffff,
        0px 0px 2px 1px #001cff;
    } */

.card h1 {
    background-color: #7780cb;
    background-image: linear-gradient(to right, #7780cb, 40%, #2f377a);
    box-shadow: 0px 1px 0px #7780cb;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    transition: color 0.7s ease-in-out;
}

.card p {
    padding: 1rem;
    font-weight: 300;
    font-size: 1.25rem;
}