.flexArray {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }


@media only screen and (max-width: 767px) {
  .flexArray {
    flex-direction: column;
  
    .bigbutton {
        width: 80vw;
    }
}
}