// CSS Variables (Editable on the client side!)

:root {
    --neutral-white: #ffffff;
    --neutral-light: #d6d5c9;
    --neutral-mid: #b9baa3;
    --primary: #902923;
    --primary-dark: #5C1A16;
    --primary-light: #a22c29;
    --secondary: #DB3D35;
    --tertiary: ;

}




// SASS Variables (Transpiled on server side!)