:root {
  --GGneutral-white: linear-gradient(150deg, #000436, #040035, #0b0035, #120034, #190033, #200032, #260032, #2d0031, #30002e, #2f0026, #2f001f, #2e0018);
  --GGprimary: linear-gradient(150deg, #000c90, #09009a, #2100a4, #3c00ae, #5a00b8, #7a00c2, #9e00cd, #c400d7, #e100d4, #eb00bc, #f500a2, #ff0084);
  --GGprimary-dark: #000c90;
  --GGprimary-light: #ff0084;
  --neutral-white: #ffffff;
  --neutral-black: #170504;
  --neutral-dark-grey: #4D2522cc;
  --neutral-light: #FFFBE8;
  --neutral-mid: #D4C6AE;
  --primary: #902923;
  --primary-dark: #701111;
  --primary-light: #A83E40;
  --secondary: #A83E40;
  --tertiary: #FFA300;
  --shadow-color: rgba(0, 0, 0, 0.3137254902);
  --neutral-border: rgba(0, 0, 0, 0.1254901961);
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neutral-light);
  color: var(--neutral-black);
  overflow-x: hidden;
}

.container {
  margin: 0;
}

a {
  color: var(--primary-light);
}

a:visited {
  color: var(--primary);
}

h1 {
  color: var(--neutral-dark-grey);
  font-family: "Poiret One", sans-serif;
  font-size: 4rem;
}

h3 {
  margin: 0;
}

p {
  font-size: 20px;
}

ul {
  list-style: square;
}

hr {
  border-top: 2px solid var(--primary);
  border-bottom: 1px solid var(--neutral-white);
  width: 100%;
}

.flexArray {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

@media only screen and (max-width: 800px) {
  .flexArray {
    flex-direction: column;
    gap: 0;
  }
  .flexArray .bigbutton {
    width: 80vw;
  }
}
.columns {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .columns {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1140px) {
  .columns {
    flex-direction: column;
  }
}
.pheader1 {
  font-size: 2rem;
  margin: 0;
}

.pheader2 {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 0.5rem;
  border-top: 1px dashed var(--primary);
  border-bottom: 1px dashed var(--primary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-style: italic;
  font-weight: 300;
  text-align: right;
}

.leftjustify {
  justify-content: flex-start;
  text-align: left;
}

.displayOff {
  display: none;
}

@media only screen and (max-width: 800px) {
  .pheader1 {
    font-size: 1.5rem;
  }
  .pheader2 {
    font-size: 1.15rem;
  }
  .displayOffMobile {
    display: none;
  }
}
.fullsize .articlesbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fullsize .articlesbox a {
  text-decoration: none;
}
.fullsize .articlesbox h3 {
  margin: 0;
  font-size: 1.75rem;
  text-decoration: underline;
}
.fullsize .articlesbox h4 {
  margin: 0;
}
.fullsize .articlesbox p {
  margin: 0;
}

.columns .articlesbox {
  background-color: var(--primary);
  color: var(--neutral-white);
  padding: 1rem;
  border-radius: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  max-width: clamp(10rem, 25%, 40vw);
}
.columns .articlesbox .modaltitlebar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.columns .articlesbox i {
  font-size: 2rem;
  color: var(--neutral-mid);
}
.columns .articlesbox a {
  text-decoration: none;
  color: var(--neutral-white);
}
.columns .articlesbox h2 {
  margin: 0;
  color: var(--neutral-white);
}
.columns .articlesbox h3 {
  text-decoration: underline;
  color: var(--neutral-light);
}
.columns .articlesbox h4 {
  margin: 0;
  margin-bottom: 0.25rem;
  font-weight: 300;
  font-style: italic;
  color: var(--neutral-white);
}
.columns .articlesbox p {
  margin: 0;
  color: var(--neutral-mid);
}
.columns .articlesbox .blogcard {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1140px) {
  .columns .articlesbox {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
  }
}
.bigbutton {
  background-color: var(--secondary);
  color: var(--neutral-white);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 80%;
  border: 2px solid var(--primary);
  border-radius: 1000px;
  box-shadow: 0px 1px 1px var(--shadow-color);
  transition: all 0.2s ease-in-out;
}
.bigbutton a {
  text-decoration: none;
  color: var(--neutral-white);
}
.bigbutton a :visited {
  color: var(--neutral-white);
}

.bigbutton:hover {
  box-shadow: 0px 6px 4px var(--shadow-color);
  margin-top: calc(-4px + 1rem);
  margin-bottom: calc(4px + 1rem);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .bigbutton {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .bigbutton:hover {
    margin-top: calc(-4px + 0.5rem);
    margin-bottom: calc(4px + 0.5rem);
  }
}
.expandedblogcards {
  width: 100%;
}
.expandedblogcards .articlesbox {
  width: 100%;
}
.expandedblogcards .articlesbox .blogcard {
  display: flex;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 1rem;
}
.expandedblogcards .articlesbox .blogcard a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--);
}
.expandedblogcards .articlesbox .blogcard a h3 {
  text-decoration: underline;
  color: var(--neutral-light);
}
.expandedblogcards .articlesbox .blogcard a h4 {
  font-style: italic;
  margin: 0;
  margin-top: 0.5rem;
  font-weight: 300;
  color: var(--neutral-white);
}
.expandedblogcards .articlesbox .blogcard a p {
  font-weight: 300;
  color: var(--neutral-mid);
}
.expandedblogcards .articlesbox .blogcard img {
  width: 12rem;
  margin-right: 2rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 800px) {
  .expandedblogcards .articlesbox .blogcard a {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .expandedblogcards .articlesbox .blogcard a img {
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  height: 8vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: var(--primary);
  color: var(--neutral-white);
}
.footer a {
  color: var(--neutral-white);
}

@media only screen and (max-width: 800px) {
  .footer {
    height: 10vh;
    font-size: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.getintouchul {
  list-style: none;
}
.getintouchul li {
  margin-bottom: 0.5rem;
  font-size: 18px;
}
.getintouchul a {
  text-decoration: none;
  font-weight: 700;
}
.getintouchul i {
  font-size: 2rem;
  margin-right: 0.7rem;
}

@media only screen and (max-width: 800px) {
  .getintouchul {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .getintouchul li {
    font-size: 16px;
  }
}
@media only screen and (max-width: 280px) {
  .getintouchul {
    padding: 0;
  }
}
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  padding-left: 8%;
  padding-right: 8%;
  background-color: var(--primary);
}
.navbar a:hover {
  color: var(--neutral-mid);
}
.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 900;
  font-size: 1.5rem;
  margin-right: 2vw;
  color: var(--neutral-white);
}
.navbar .items {
  display: flex;
  justify-content: flex-start;
  width: 70vw;
  padding: 0;
  color: var(--neutral-white);
}
.navbar .items .navitem {
  text-decoration: none;
  list-style: none;
  margin-right: 2vw;
  color: var(--neutral-white);
}
.navbar .items .navitem .navlink {
  text-decoration: none;
  color: var(--neutral-white);
}

@media only screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    overflow-y: scroll;
  }
  .navbar .items {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
    margin: 0;
    width: auto;
  }
  #navbar .logo {
    font-size: 2rem;
    margin: 0;
    padding: 0;
  }
  .navitem {
    font-size: 1.25rem;
    margin: 0;
  }
}
.imgbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.blogimg {
  max-width: 800px;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  aspect-ratio: 4/3;
}

.imgcaption {
  font-weight: 300;
  margin: 0;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--neutral-mid);
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 2px solid var(--neutral-border);
}

.inlineimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 20vw;
}
.inlineimg .blogimg {
  max-width: 20vw;
}

@media only screen and (max-width: 800px) {
  .imgbox {
    max-width: 90vw;
  }
  .blogimg {
    max-width: 90vw;
  }
  .inlineimg {
    max-width: 90vw;
  }
  .inlineimg .blogimg {
    max-width: 90vw;
  }
  .inlineimg .imgcaption {
    max-width: 90vw;
    width: 90vw;
  }
}
@media only screen and (max-width: 1140px) and (min-width: 800px) {
  .inlineimg {
    max-width: 60vw;
  }
  .inlineimg .blogimg {
    max-width: 30vw;
  }
  .inlineimg .imgcaption {
    max-width: 30vw;
    width: 30vw;
  }
}
.profilepic {
  background-color: var(--primary-light);
  border-radius: 50%;
  max-width: 12rem;
  border: 2px solid var(--neutral-mid);
}

.redbubble {
  background-color: var(--primary);
  color: var(--neutral-white);
  padding: 1rem;
  border-radius: 20px;
}

.selfblurb {
  border-radius: 8rem;
}

.signature {
  float: right;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--primary-dark);
  border-radius: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 600px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.signature img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid var(--neutral-mid);
  background-color: var(--secondary);
}
.signature h6 {
  font-size: 1.75rem;
  color: var(--neutral-mid);
  margin: 0;
}
.signature p {
  color: var(--neutral-mid);
}

@media only screen and (max-width: 800px) {
  .signature {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
}
main {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  min-height: 80vh;
}

.titleArea {
  margin-top: 2rem;
}

.blogbody {
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blogtext {
  width: 100%;
}

.imgandtext {
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 800px) {
  .blogbody {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .blogtext {
    max-width: 90vw;
    font-size: 1rem;
  }
  .imgandtext {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */