.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    height: 8vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: var(--primary);
    color: var(--neutral-white);

    a {
        color: var(--neutral-white);
    }
}


@media only screen and (max-width: 767px) {
    .footer {
        height: 10vh;
        font-size: 1rem;
        flex-wrap: wrap;
        flex-direction: column;
      }
}