.getintouchul {
    list-style: none;

    li {
        margin-bottom: 0.5rem;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-weight: 700;
    }

    i {
        font-size: 2rem;
        margin-right: 0.7rem;
    }
}

@media only screen and (max-width: 767px) {
    .getintouchul {
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .getintouchul li {
        font-size: 16px;
    }
}


@media only screen and (max-width: 280px) {
    .getintouchul {
        padding: 0;
    }
}