.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    padding-left: 8%;
    padding-right: 8%;
    background-color: var(--primary);


    a:hover {
        color: var(--neutral-mid);
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: 900;
        font-size: 1.5rem;
        margin-right: 2vw;
        color: var(--neutral-white);
    }

    .items {
        display: flex;
        justify-content: flex-start;
        width: 70vw;
        padding: 0;
        color: var(--neutral-white);

        .navitem {
            text-decoration: none;
            list-style: none;
            margin-right: 2vw;
            color: var(--neutral-white);

            .navlink {
                text-decoration: none;
                color: var(--neutral-white);
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 10vh;
      overflow-y: scroll;

      .items {
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0;
        margin: 0;
        width: auto;
      }
    }

    #navbar .logo {
        font-size: 2rem;
        margin: 0;
        padding: 0;
      }
    .navitem {
      font-size: 1.25rem;
      margin: 0;
    }
}