@use "../base/variables" as *;

.imgbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.blogimg {
  max-width: 800px;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  aspect-ratio: 4/3;
}

.imgcaption {
  font-weight: 300;
  margin: 0;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--neutral-mid);
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 2px solid var(--neutral-border);
}

.inlineimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 20vw;

  .blogimg {
    max-width: 20vw;
  }
}

@media only screen and (max-width: $tabletBP) {
  .imgbox {
    max-width: 90vw;
  }

  .blogimg {
    max-width: 90vw;
  }

  .inlineimg {
    max-width: 90vw;

    .blogimg {
      max-width: 90vw;
    }

    .imgcaption {
      max-width: 90vw;
      width: 90vw;
    }

  }

}

@media only screen and (max-width: $sidebarBP) and (min-width: $tabletBP) {
  .inlineimg {
    max-width: 60vw;

    .blogimg {
      max-width: 30vw;
    }

    .imgcaption {
      max-width: 30vw;
      width: 30vw;
    }

  }
}