<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Blog Post Demo</h1>
    <p>Lorem Ipsum</p>
  </div>
<div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit volutpat maecenas volutpat blandit aliquam etiam erat. Sed felis eget velit aliquet. Tempor id eu nisl nunc mi ipsum faucibus vitae. Euismod nisi porta lorem mollis aliquam ut. Urna porttitor rhoncus dolor purus. Aliquet enim tortor at auctor urna nunc. Praesent elementum facilisis leo vel. Nec sagittis aliquam malesuada bibendum arcu vitae. Porta lorem mollis aliquam ut porttitor leo a diam. Massa massa ultricies mi quis. Sed nisi lacus sed viverra tellus in hac habitasse platea.
  </p>

  <p>
    Sagittis purus sit amet volutpat consequat. Pharetra diam sit amet nisl. Tristique senectus et netus et malesuada fames ac turpis. Dui id ornare arcu odio ut sem nulla pharetra. Sagittis purus sit amet volutpat consequat mauris nunc congue. Massa id neque aliquam vestibulum morbi blandit cursus risus. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Mauris a diam maecenas sed enim ut sem viverra. Venenatis tellus in metus vulputate. Odio morbi quis commodo odio. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae congue. Libero volutpat sed cras ornare arcu dui. Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Eget duis at tellus at.
  </p>

  <p>
    In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Tempor nec feugiat nisl pretium fusce id velit ut tortor. Massa ultricies mi quis hendrerit dolor magna eget. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Varius sit amet mattis vulputate enim. Quis viverra nibh cras pulvinar mattis nunc. Magna eget est lorem ipsum dolor sit amet consectetur adipiscing. Nisl tincidunt eget nullam non nisi. Eget mi proin sed libero enim sed. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Nibh tortor id aliquet lectus proin nibh. Vulputate enim nulla aliquet porttitor. Nunc congue nisi vitae suscipit tellus mauris. Vitae auctor eu augue ut lectus arcu bibendum at varius. Eu feugiat pretium nibh ipsum consequat nisl. Tortor id aliquet lectus proin nibh nisl. Odio facilisis mauris sit amet massa vitae tortor condimentum. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Quam pellentesque nec nam aliquam sem et tortor.
  </p>

  <p>
    Facilisis gravida neque convallis a cras semper. Tortor dignissim convallis aenean et. Quis ipsum suspendisse ultrices gravida. Pellentesque pulvinar pellentesque habitant morbi. Ac turpis egestas sed tempus urna. Eu turpis egestas pretium aenean. Euismod quis viverra nibh cras pulvinar mattis nunc. Quis vel eros donec ac odio tempor orci dapibus. Aliquam purus sit amet luctus venenatis lectus. Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Eu lobortis elementum nibh tellus molestie nunc non blandit. Sodales ut eu sem integer.
  </p>
  <p>
    Felis bibendum ut tristique et. Neque vitae tempus quam pellentesque nec nam aliquam. Consectetur lorem donec massa sapien faucibus et. Massa eget egestas purus viverra accumsan in nisl nisi. In est ante in nibh mauris. Gravida quis blandit turpis cursus in. A condimentum vitae sapien pellentesque habitant. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Elit at imperdiet dui accumsan sit amet. Id semper risus in hendrerit gravida. Eget nunc scelerisque viverra mauris in aliquam. Ultrices mi tempus imperdiet nulla malesuada pellentesque. Nunc non blandit massa enim nec dui nunc mattis enim. Ipsum consequat nisl vel pretium lectus quam. Sagittis nisl rhoncus mattis rhoncus. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. Aliquam purus sit amet luctus venenatis lectus magna.
  </p>
</div>
  

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>