<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <!-- Remember to enter this article into blogs.json -->
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="blogbody">
      <div class="imgbox">
        <img class="blogimg" src="https://pixnio.com/free-images/nature-landscapes/field/canada-field-550x413.jpg"
          alt="image alt text">
        <p class="imgcaption">Image caption</p>
      </div>
      <div class="columns">
        <div class="blogtext">
          <div class="jumbotron">
            <h1>Title</h1>
            <p>Subtitle</p>
          </div>
          <hr>
          <p>

          </p>
          <p>

          </p>
          <p>

          </p>
          <p>

          </p>
          <p>

          </p>
          <p>

          </p>
          <p>- Joe Doherty</p>
        </div>
        <%- include('../partials/blogpostcard'); %>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>