<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <!-- Remember to enter this article into blogs.json -->
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="blogbody">
      <div class="imgbox">
        <img class="blogimg" src="https://pixnio.com/free-images/nature-landscapes/field/canada-field-550x413.jpg"
          alt="Empty field">
        <p class="imgcaption">As you can see, this template is devoid of content</p>
      </div>
      <div class="columns">
        <div class="blogtext">
          <div class="jumbotron">
            <h1>Building a Blog</h1>
            <p>Or at least, building the foundations</p>
          </div>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium. Quam vulputate dignissim
            suspendisse in est ante. Neque sodales ut etiam sit amet nisl purus in. Donec adipiscing tristique risus nec
            feugiat. Molestie at elementum eu facilisis sed odio. Aliquet nec ullamcorper sit amet. Erat imperdiet sed
            euismod nisi. Nisl nisi scelerisque eu ultrices vitae. Varius quam quisque id diam vel quam elementum
            pulvinar etiam. Tristique et egestas quis ipsum suspendisse ultrices. In massa tempor nec feugiat. Ligula
            ullamcorper malesuada proin libero nunc consequat. Sed faucibus turpis in eu mi bibendum neque egestas.
            Vulputate sapien nec sagittis aliquam malesuada bibendum. Dictum varius duis at consectetur lorem. Ut lectus
            arcu bibendum at varius vel pharetra vel. Ipsum dolor sit amet consectetur adipiscing elit duis. In est ante
            in nibh mauris cursus. Ac feugiat sed lectus vestibulum mattis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium. Quam vulputate dignissim
            suspendisse in est ante. Neque sodales ut etiam sit amet nisl purus in. Donec adipiscing tristique risus nec
            feugiat. Molestie at elementum eu facilisis sed odio. Aliquet nec ullamcorper sit amet. Erat imperdiet sed
            euismod nisi. Nisl nisi scelerisque eu ultrices vitae. Varius quam quisque id diam vel quam elementum
            pulvinar etiam. Tristique et egestas quis ipsum suspendisse ultrices. In massa tempor nec feugiat. Ligula
            ullamcorper malesuada proin libero nunc consequat. Sed faucibus turpis in eu mi bibendum neque egestas.
            Vulputate sapien nec sagittis aliquam malesuada bibendum. Dictum varius duis at consectetur lorem. Ut lectus
            arcu bibendum at varius vel pharetra vel. Ipsum dolor sit amet consectetur adipiscing elit duis. In est ante
            in nibh mauris cursus. Ac feugiat sed lectus vestibulum mattis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium. Quam vulputate dignissim
            suspendisse in est ante. Neque sodales ut etiam sit amet nisl purus in. Donec adipiscing tristique risus nec
            feugiat. Molestie at elementum eu facilisis sed odio. Aliquet nec ullamcorper sit amet. Erat imperdiet sed
            euismod nisi. Nisl nisi scelerisque eu ultrices vitae. Varius quam quisque id diam vel quam elementum
            pulvinar etiam. Tristique et egestas quis ipsum suspendisse ultrices. In massa tempor nec feugiat. Ligula
            ullamcorper malesuada proin libero nunc consequat. Sed faucibus turpis in eu mi bibendum neque egestas.
            Vulputate sapien nec sagittis aliquam malesuada bibendum. Dictum varius duis at consectetur lorem. Ut lectus
            arcu bibendum at varius vel pharetra vel. Ipsum dolor sit amet consectetur adipiscing elit duis. In est ante
            in nibh mauris cursus. Ac feugiat sed lectus vestibulum mattis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium. Quam vulputate dignissim
            suspendisse in est ante. Neque sodales ut etiam sit amet nisl purus in. Donec adipiscing tristique risus nec
            feugiat. Molestie at elementum eu facilisis sed odio. Aliquet nec ullamcorper sit amet. Erat imperdiet sed
            euismod nisi. Nisl nisi scelerisque eu ultrices vitae. Varius quam quisque id diam vel quam elementum
            pulvinar etiam. Tristique et egestas quis ipsum suspendisse ultrices. In massa tempor nec feugiat. Ligula
            ullamcorper malesuada proin libero nunc consequat. Sed faucibus turpis in eu mi bibendum neque egestas.
            Vulputate sapien nec sagittis aliquam malesuada bibendum. Dictum varius duis at consectetur lorem. Ut lectus
            arcu bibendum at varius vel pharetra vel. Ipsum dolor sit amet consectetur adipiscing elit duis. In est ante
            in nibh mauris cursus. Ac feugiat sed lectus vestibulum mattis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium. Quam vulputate dignissim
            suspendisse in est ante. Neque sodales ut etiam sit amet nisl purus in. Donec adipiscing tristique risus nec
            feugiat. Molestie at elementum eu facilisis sed odio. Aliquet nec ullamcorper sit amet. Erat imperdiet sed
            euismod nisi. Nisl nisi scelerisque eu ultrices vitae. Varius quam quisque id diam vel quam elementum
            pulvinar etiam. Tristique et egestas quis ipsum suspendisse ultrices. In massa tempor nec feugiat. Ligula
            ullamcorper malesuada proin libero nunc consequat. Sed faucibus turpis in eu mi bibendum neque egestas.
            Vulputate sapien nec sagittis aliquam malesuada bibendum. Dictum varius duis at consectetur lorem. Ut lectus
            arcu bibendum at varius vel pharetra vel. Ipsum dolor sit amet consectetur adipiscing elit duis. In est ante
            in nibh mauris cursus. Ac feugiat sed lectus vestibulum mattis.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Faucibus purus in massa tempor nec feugiat nisl pretium. Quam vulputate dignissim
            suspendisse in est ante. Neque sodales ut etiam sit amet nisl purus in. Donec adipiscing tristique risus nec
            feugiat. Molestie at elementum eu facilisis sed odio. Aliquet nec ullamcorper sit amet. Erat imperdiet sed
            euismod nisi. Nisl nisi scelerisque eu ultrices vitae. Varius quam quisque id diam vel quam elementum
            pulvinar etiam. Tristique et egestas quis ipsum suspendisse ultrices. In massa tempor nec feugiat. Ligula
            ullamcorper malesuada proin libero nunc consequat. Sed faucibus turpis in eu mi bibendum neque egestas.
            Vulputate sapien nec sagittis aliquam malesuada bibendum. Dictum varius duis at consectetur lorem. Ut lectus
            arcu bibendum at varius vel pharetra vel. Ipsum dolor sit amet consectetur adipiscing elit duis. In est ante
            in nibh mauris cursus. Ac feugiat sed lectus vestibulum mattis.
          </p>
          <p>Why are you still here? This is a blank article for testing purposes. Go away</p>
          <p>- Joe Doherty</p>
        </div>
        <%- include('../partials/blogpostcard'); %>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>