<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Error! 404</h1>
    <p>You've made a grave mistake...</p>
    <p>While you think about what you've done, why don't you check out an article!</p>
  </div>
  <%- include('../partials/expandedblogcards'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>