<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Home</h1>
    <p>Hey! I'm Joe Doherty, and this is my blog. Here, I'll be writing about all sorts of things that interest me, including computers, music, philosophy, and more.</p>
    <p>Right now, it's all a work in progress, so if you've stumbled upon this, withhold your judgement.</p>
  </div>
  <div class="fullsize">
    <%- include('../partials/blogpostcard'); %>
  </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>